[Desktop Entry]
Type=Application
Name=SLDGridy
GenericName=Single-line diagram editor
GenericName[de]=Übersichtsschaltpläne zeichnen
Comment=Draw single-line diagrams for PV systems and transformer stations
Comment[de]=Einpolige Übersichtsschaltpläne für PV-Anlagen und Transformatorstationen zeichnen
Exec=sldgridy %f
Icon=sldgridy
Terminal=false
Categories=Graphics;Engineering;
Keywords=SLD;single-line;Schaltplan;Photovoltaik;PV;Trafostation;CAD;
StartupWMClass=sldgridy
MimeType=application/x-sldgridy;
